@media all {
    a.wa-order-thankyou {
        background: #25d366 !important;
        color: #ffffff !important;
        transform: translateY(0px);
        text-decoration: none !important;
        outline: 0 !important;
        -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
        transition: top 0.1s ease;
        -webkit-transition: top 0.1s ease;
    }
    .wa-order-thankyou:before {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23fff" d="M3.516 3.516c4.686-4.686 12.284-4.686 16.97 0 4.686 4.686 4.686 12.283 0 16.97a12.004 12.004 0 01-13.754 2.299l-5.814.735a.392.392 0 01-.438-.44l.748-5.788A12.002 12.002 0 013.517 3.517zm3.61 17.043l.3.158a9.846 9.846 0 0011.534-1.758c3.843-3.843 3.843-10.074 0-13.918-3.843-3.843-10.075-3.843-13.918 0a9.846 9.846 0 00-1.747 11.554l.16.303-.51 3.942a.196.196 0 00.219.22l3.961-.501zm6.534-7.003l-.933 1.164a9.843 9.843 0 01-3.497-3.495l1.166-.933a.792.792 0 00.23-.94L9.561 6.96a.793.793 0 00-.924-.445 1291.6 1291.6 0 00-2.023.524.797.797 0 00-.588.88 11.754 11.754 0 0010.005 10.005.797.797 0 00.88-.587l.525-2.023a.793.793 0 00-.445-.923L14.6 13.327a.792.792 0 00-.94.23z"/></svg>') !important;
        color: #ffffff;
        font-size: inherit;
        font-weight: inherit !important;
        display: inline-block;
        vertical-align: middle;
        align-items: center;
        margin-bottom: -4px;
        margin-top: -5px;
        width: 0.875em;
        height: auto;
    }
    a.wa-order-thankyou:before {
        margin-right: 7px;
    }
    a.wa-order-thankyou {
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        word-break: break-word;
        padding: 10px 15px;
        margin: 0;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 600;
        border-radius: 4px;
        text-rendering: optimizeLegibility;
        letter-spacing: 0px;
    }
    .thankyoutitle {
        font-size: 1.875em;
        font-size: 30px;
        font-weight: 600;
    }
    .thankyoucustom_wrapper {
        background: #f9f9f9;
        width: 100%;
        padding: 20px;
        margin: auto;
        text-align: center;
    }
    .subtitle {
        font-size: 20px;
        margin: auto;
        letter-spacing: 1px;
        margin-top: 20px;
        font-weight: normal;
    }
    a.wa-order-thankyou:hover {
        color: #ffffff !important;
        background: #21bd5b;
        transform: translateY(-3px);
        box-shadow: 0 8px 25px -5px rgba(45, 62, 79, 0.3) !important;
        transition: all ease-in-out 300ms;
    }
}